aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.0
amqp==5.2.0
annotated-types==0.7.0
asgiref==3.7.2
attrs==23.1.0
banal==1.0.6
billiard==4.2.0
build==1.2.1
cachetools==5.3.3
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chatterbot-corpus==1.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
dataloader==2.0
dataset==1.6.2
defusedxml==0.8.0rc2
Deprecated==1.2.14
distlib==0.3.8
Django==5.0.3
django-cors==0.1
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.5
django-otp==1.3.0
django-phonenumber-field==7.3.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-rest-passwordreset==1.4.0
django-templated-mail==1.1.1
django-twilio==0.14.3.3
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djoser==2.2.2
drf-nested-routers==0.93.5
drf-yasg==1.21.7
filelock==3.13.1
fonttools==4.50.0
frozenlist==1.4.1
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-speech==2.26.0
googleapis-common-protos==1.63.0
greenlet==3.0.2
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn==22.0.0
h11==0.14.0
idna==3.6
inflection==0.5.1
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
kombu==5.3.5
Mako==1.3.0
MarkupSafe==2.1.3
matplotlib==3.8.3
multidict==6.0.5
nltk==3.8.1
nn==0.1.1
numpy==1.26.4
oauthlib==3.2.2
opencv-python-headless==4.9.0.80
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
phonenumbers==8.13.37
pillow==10.2.0
pip-tools==7.4.1
platformdirs==4.2.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.7.2
pydantic_core==2.18.3
pydub==0.25.1
pyparsing==3.1.2
pyproject_hooks==1.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
response==0.5.0
rsa==4.9
scikit-learn==1.5.0
scipy==1.12.0
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.4.0
sortedcontainers==2.4.0
SpeechRecognition==3.10.4
SQLAlchemy==1.4.50
sqlparse==0.4.4
stripe==7.6.0
threadpoolctl==3.5.0
tqdm==4.66.1
trio==0.23.2
trio-websocket==0.11.1
twilio==9.0.5
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
virtualenv==20.25.1
vonage==3.14.0
vonage-jwt==1.1.1
vonage-utils==1.1.2
wcwidth==0.2.13
wheel==0.43.0
whitenoise==6.6.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
